<div class = "user_input">
  <form action="/" method="get">
    Want to find some anagrams (super quickly)?
    <br>
    <input type="text" name="user_input">
    <input type="submit" value="Yea Buddy!">
  </form>
</div>
<div class = results>
  <p class="word"></p>
</div>