<body>
  <div class = "wrapper">
    <div class = "user_input">
      <form action="/" method="get">
        <input class="box" type="text" name="user_input" placeholder = "Enter word...">
        <input class="button" type="submit" value="Anagram Me!">
      </form>
    </div>
    <div class = results>
      <p class="word"></p>
    </div>
  </div>
</body>